
/src/momentum_dependencetpe218pwanew.dat

/src/notebooks/.ipynb_checkpoints/plot_results-checkpoint.ipynb

/src/notebooks/v_momentum_*.pdf

/src/av18_momentum_dependence.dat

/src/av18_momentum_dependence_poly_basis.dat

/src/av18_momentum_dependence_st_basis.dat

/src/momentum_dependence_polytpe218pwanew.dat

/src/momentum_dependence_sttpe218pwanew.dat
