
/src/momentum_dependencetpe218pwanew.dat

/src/notebooks/.ipynb_checkpoints/plot_results-checkpoint.ipynb

/src/notebooks/v_momemtum_14a.pdf

/src/notebooks/v_momemtum_14b.pdf

/src/notebooks/.ipynb_checkpoints/plot_results-checkpoint.ipynb
